{
  "extends": "airbnb",
  "env": {
    "es6": true,
    "browser": true,
    "jasmine": true,
    "node": true
  },
  "rules": {
    "jsx-no-bind": 0,
    "react/jsx-no-bind": 0,
    "prefer-template": 1,
    "prefer-arrow-callback": 1,
    "max-len": 1
  }
}
