{
  "extends": [
    "airbnb",
    "prettier"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "jest": true,
    "node": true
  },
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "import/no-unresolved": 1,
    "global-require": 0,
    "jsx-no-bind": 0,
    "react/jsx-no-bind": 0,
    "prefer-template": 1,
    "prefer-destructuring": 0,
    "new-cap": 0,
    "react/prefer-stateless-function": 0,
    "no-param-reassign": 1,
    "consistent-return": 1,
    "react/jsx-filename-extension": 0,
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0,
    "no-mixed-operators": [
      "error",
      {
        "allowSamePrecedence": true
      }
    ],
    "arrow-parens": 0,
    "react/forbid-prop-types": 0,
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "ignore"
    }],
    "react/sort-comp": 0,
    "react/destructuring-assignment": 0,
    "react/jsx-one-expression-per-line": 0
  }
}
